/*============================================

'Hex': '#3c3c3c',  'colorName': 'gray'

============================================*/

/*Addition styles*/

#navbarprimary {
	background-color: #3c3c3c!important;
}

#services {
	background-color: #3c3c3c!important;
}

.desgned-by {
	background-color: #3c3c3c!important;
}

.testimonial .description {
	background-color: #3c3c3c!important;
}

.testimonial .description::before, .testimonial .description::after {
    border-color: #3c3c3c transparent transparent!important;
}

.owl-theme .owl-controls .owl-buttons div {
    background: #3c3c3c none repeat scroll 0 0!important;
}

.carousel-indicators .active {
    background-color:#3c3c3c!important;
}

.text-success, .text-green, .post, .picker_close {
	color:#3c3c3c!important;
}

.testimonial .pic img {
    border: 1px solid #3c3c3c!important;
}

.picker_close:hover {
	color:#3c3c3c!important;
}

a:hover, a:focus {
	color: #3c3c3c!important;
}

#footer .fa:hover {
	color:#3c3c3c !important;
}

.btn-outline-success, .btn-outline-secondary {
	color:#3c3c3c !important;
	border: 1px solid #3c3c3c!important;
}

.btn-outline-success:hover, .btn-outline-secondary:hover {
	color:#fff !important;
	border: 1px solid #3c3c3c!important;
}

.btn-danger {
    background-color: #fff!important;
    border-color: #fff!important;
    color: #3c3c3c!important;
}

.btn-danger:hover {
    background-color: #3c3c3c!important;
    border-color: #fff!important;
    color: #fff!important;
}

.btn-success {
	background-color: #3c3c3c!important;
	border-color: #3c3c3c!important;
	color: #fff!important;
}

.priceitem .wrapper {
	background-color:#3c3c3c !important;
}

.feature_descritpion p {
	color:#3c3c3c !important;
}

.portfolio .portfolio-item .portfolio-item-caption {
  	background-color: #3c3c3c !important;
}

.priceitem .Priceplan {
	background-color: #505050 !important;
}

.navbarprimary .navbar-toggler, .navbarprimary .navbar-toggler:hover, .navbarprimary .navbar-toggler:focus {
  	background-color: #3c3c3c;
}